extends layout

block content
    div#canvas-container
        canvas#map
        img.loading-animation(src='images/loading.gif')
    a(href="https://github.com/jonaslepsoy/is-map")
        img.fork(src="images/fork-me.png",alt="Fork me on GitHub")
    nav.navbar.navbar-default.navbar-fixed-bottom
        div.container-fluid
            div.navbar-header
                button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar")
                    span.sr-only
                        | Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                div.navbar-brand
                    = title
                    | &nbsp;
                    span.label.label-info Beta
            div.collapse.navbar-collapse#navbar
                ul.navbar-nav.nav
                    li
                        a(href='http://www.mwomercs.com/')
                            img.mwologo(src="images/mwologo.png")
                    li
                        div.navbar-text#date
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href="#",data-toggle="dropdown",role="button",aria-expanded="false")
                            | Credits
                            span.caret
                        ul.dropdown-menu(role="menu")
                            li
                                a(href='http://punakettu.deviantart.com/')
                                    | Faction logos by Punakettu
                            li
                                a(href='http://www.mwomercs.com/')
                                    | PGI logo by PGI
                            li
                                a(href='http://mwomercs.com/forums/topic/24748-full-size-faction-logos-and-post-em-if-you-got-em/page__view__findpost__p__613835')
                                    | MWO logo by Miscreant
                            li
                                a(href='https://twitter.com/jonaslepsoy')
                                    | Source code by Jonas Lepsøy
    aside.col-xs-12.col-sm-4.col-md-3.navbar-fixed-bottom(style="margin-top:1em")
        div.panel.panel-default
            div.panel-heading
                h3.panel-title#planetname
            div.panel-body
                div
                    | Debug
                    span#debug
                div
                    img#planetownerimage.factionicon.col-xs-4
                    div.col-xs-8
                        | Owner:&nbsp;
                        span#planetowner
                        div#planetownerunit
                hr.planetdivider.col-xs-12
                div
                    img#planetinvaderimage.factionicon.col-xs-4
                    div.col-xs-8
                        | Invader:&nbsp;
                        span#planetinvader
                        div
                            | Territories taken:
                            div.progress#planetinvaderterritoriesowned
                                div.progress-bar(role="progressbar")
    div#logos.hide(style="display:none")
        img#logo1(src='images/pgilogo.png')
        img#logo5(src='images/davionlogo.png')
        img#logo6(src='images/kuritalogo.png')
        img#logo7(src='images/liaologo.png')
        img#logo8(src='images/mariklogo.png')
        img#logo9(src='images/rasalhaguelogo.png')
        img#logo10(src='images/steinerlogo.png')
        img#logo11(src='images/clansmokejaguarlogo.png')
        img#logo12(src='images/clanjadefalconlogo.png')
        img#logo13(src='images/clanwolflogo.png')
        img#logo14(src='images/clanghostbearlogo.png')