extends layout

block content
	div.row
		div.col-xs-12.header
			h1= title
	div.row
		article.col-xs-12.col-md-8.main
			canvas#map
			div#date
		aside.col-md-4.sidebar
			div
				h2#planetname
				div.col-xs-12
					| Defense level:
					span#planetdefenselevel
				div.col-xs-12
					h3 Owner
					img#planetownerimage.factionicon.col-xs-4
					div#planetowner.col-xs-8
				div.col-xs-12
					h3 Invader
					img#planetinvaderimage.factionicon.col-xs-4
					div#planetinvader.col-xs-8
